[submodule "lib"]
	path = lib
	url = ../scopehal.git
[submodule "doc"]
	path = doc
	url = ../scopehal-docs.git
[submodule "src/imgui"]
	path = src/imgui
	url = https://github.com/ngscopeclient/imgui.git
[submodule "src/implot"]
	path = src/implot
	url = https://github.com/ngscopeclient/implot.git
[submodule "src/imgui-node-editor"]
	path = src/imgui-node-editor
	url = https://github.com/ngscopeclient/imgui-node-editor.git
[submodule "src/ImGuiFileDialog"]
	path = src/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "src/nativefiledialog-extended"]
	path = src/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "src/imgui_markdown"]
	path = src/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown
