[Desktop Entry]
Encoding=UTF-8
Name=ngscopeclient
Type=Application
Exec=ngscopeclient
Categories=Development;Electronics
Terminal=false
Icon=ngscopeclient
