/***********************************************************************************************************************
	Colors
 **********************************************************************************************************************/

@define-color glscopeclient_bg_color			#101010;
@define-color glscopeclient_gradient_color		#303030;
@define-color glscopeclient_highlight_color 	#808080;
@define-color glscopeclient_text_color			#ffffff;
@define-color glscopeclient_inactive_color		#505050;
@define-color glscopeclient_inactive_text_color	#808080;

/***********************************************************************************************************************
	General settings for all widgets
 **********************************************************************************************************************/

frame
{
	color: 				@glscopeclient_text_color;
	background-color:	@glscopeclient_bg_color;
}

toolbar,
.toolbar,
notebook *,
dialog,
dialog.*,
actionbar,
textview *,
grid
{
	color:				@glscopeclient_text_color;
	background-color:	@glscopeclient_bg_color;
	background-image:	none;
}

label,
combobox *,
GtkGrid,
GtkGrid:disabled,
box,
box:disabled
{
	color:				@glscopeclient_text_color;
	background-color:	transparent;
	background-image:	none;
	text-shadow:		none;
}

/***********************************************************************************************************************
	Message dialog
 **********************************************************************************************************************/

messagedialog *
{
	color:				@glscopeclient_text_color;
	background-color:	@glscopeclient_bg_color;
	background-image:	none;
}

/***********************************************************************************************************************
	Button
 **********************************************************************************************************************/

button
{
	background-image: -gtk-gradient(
		linear,
		left top,
		left bottom,
		from (@glscopeclient_bg_color),
		color-stop (0.5, @glscopeclient_gradient_color),
		to (@glscopeclient_bg_color)
		);
	color:				@glscopeclient_text_color;
}

button:disabled,
button label:disabled
{
	color:				@glscopeclient_inactive_text_color;
}

toolbar button:hover,
toolbar button:hover:active
{
	background-image: 	none;
	background-color: 	@glscopeclient_highlight_color;
}

toolbar button:focus
{
	border-color:		#202020;
	border-image:		none;
}

/***********************************************************************************************************************
	Entry
 **********************************************************************************************************************/

entry,
entry:focus
{
	background-image:	none;
	background-color:	@glscopeclient_bg_color;
	color:				@glscopeclient_text_color;
	caret-color:		@glscopeclient_text_color;
}

entry:disabled
{
	background-image:	none;
	background-color:	@glscopeclient_inactive_color;
}

#invalidfilter
{
	background-color:	#400000;
	color:				@glscopeclient_text_color
}

#validfilter
{
	background-color:	#004000;
	color:				@glscopeclient_text_color
}

#activefilter
{
	background-color:	#003000;
}

selection
{
	background-color: #6699aa;
	background-image: none;
}

/***********************************************************************************************************************
	Separator
 **********************************************************************************************************************/

separator
{
	background-color: transparent;
}


/***********************************************************************************************************************
	SpinButton
 **********************************************************************************************************************/

spinbutton
{
	color:				@glscopeclient_text_color;
}

/***********************************************************************************************************************
	Switch
 **********************************************************************************************************************/

switch slider
{
	background-color:	#808080;
	border-color:		#a0a0a0;
}

switch:disabled image
{
	background-color:	#808080;
}

/***********************************************************************************************************************
	Tree view
 **********************************************************************************************************************/

treeview
{
	color: 				@glscopeclient_text_color;
	background-color: 	@glscopeclient_bg_color;
	background-image: 	none;
	font-family: 		monospace;
}

row
{
	font-family: monospace;
}

.video
{
	font-size: 8pt;
	padding: 0px;
}

row:selected,
row:selected:focus,
.cell:selected,
row:selected:hover,
row:selected:focus:hover,
.cell:selected:hover
{
	background-color: @glscopeclient_highlight_color;
}

notebook,
notebook tab,
notebook header,
notebook header.top tab,
row:hover,
row:hover:focus,
.cell:hover,
notebook viewport,
paned > separator
{
	background-color:	@glscopeclient_bg_color;
	border: none;
}

notebook header.top tab
{
	background-image: -gtk-gradient(
		linear,
		left top,
		left bottom,
		from (@glscopeclient_bg_color),
		color-stop (0.5, @glscopeclient_gradient_color),
		to (@glscopeclient_bg_color)
		);
}

treeview header button
{
	color: 				@glscopeclient_text_color;
	background-color: 	@glscopeclient_bg_color;
	background-image: 	none;
	border-top:			none;
	border-left: 		none;
	border-right: 		none;
}

/***********************************************************************************************************************
	Miscellaneous
 **********************************************************************************************************************/

tooltip *,
.tooltip *
{
	color: black;
}

tooltip
{
	background-color:	#ffffa0;
}

/***********************************************************************************************************************
	Menus
 **********************************************************************************************************************/

menu,
.menu,
menubar,
menu menuitem
{
	background-image:	none;
	background-color:	@glscopeclient_bg_color;
	color:				@glscopeclient_text_color;
}

menuitem:disabled,
menuitem:disabled *
{
	color:				@glscopeclient_inactive_text_color;
	text-shadow:		none;
}

menuitem arrow,
menuitem separator,
menuitem separator,
.menu separator,
.status
{
	color:				@glscopeclient_text_color;
}

menubar menuitem:hover,
.menubar menuitem:hover,
menuitem button.flat:hover,
menuitem button.flat:active,
menu menuitem:hover
{
	background-image:	none;
	background-color:	@glscopeclient_highlight_color;
	border-color:		transparent;
}

/***********************************************************************************************************************
	Progress bar
 **********************************************************************************************************************/
progressbar.horizontal progress
{
	background-color:	@glscopeclient_highlight_color;
}

/***********************************************************************************************************************
	Wizards
 **********************************************************************************************************************/
assistant box
{
	color:				@glscopeclient_bg_color;
	background-color:	@glscopeclient_bg_color;
	background-image:	none;
}

assistant notebook
{
	border-color: 		@glscopeclient_highlight_color;
	border-bottom-width: 1px;
	border-style: 		solid;
}

box.sidebar label
{
	color:				@glscopeclient_inactive_text_color;
}

box.sidebar label.highlight
{
	color:				@glscopeclient_text_color;
	font-weight:		bold;
}

/***********************************************************************************************************************
	File chooser dialog
 **********************************************************************************************************************/

dialog filechooser placessidebar.sidebar.frame viewport.frame list,
dialog filechooser placessidebar.sidebar.frame viewport.frame list row.activatable.sidebar-row
{
	background-image:	none;
	background-color:	@glscopeclient_bg_color;
	font-family:		sans-serif;
}

dialog filechooser,
dialog filechooser treeview,
dialog filechooser treeview header
{
	font-family:		sans-serif;
}
